@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,100&family=Kanit:wght@200&display=swap');
*{
    font-family: 'Genos', sans-serif;
    font-family: 'Kanit', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body
{
    
    color: white;
    background-image: linear-gradient(blue,black);
    width: 100%;
    
}
.header
{
    width: 100%;
    display: flex;
    padding: 20px 10%;
    justify-content: space-between;
    align-items: center;
    
}

.logo
{
    font-size: 50px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    cursor: default;
}
.logo::first-letter
{
    color: red;
}
.navbar a
{
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
}
nav a
{
    text-decoration: none;
    color: white;
    font-size: 19px;
    position: relative;
    
}
nav a::after
{
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav a:hover::after
{
    width: 100%;
}
nav a:hover
{
    color: red;
}
.home
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 12%;
}
.personalimage img
{
    max-width: 200px;
}
.me h3
{
    font-size: 37px;
}
.me h1
{
    font-size: 45px;
    font-weight: 600;
}
.me h3:nth-child(2)
{
    margin-bottom: 30px;
}
.me h3 span
{
    color: lightblue;
    text-decoration: underline;
}
.socialmed a
{
    display: inline-flex;
    height: 40px;
    width: 40px;
    border: solid 2px red;
    border-radius: 50%;
    font-size: 20px;
    color: red;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 0.5s;
}
.socialmed a:hover
{
    color: rgba(0, 0, 0, 0.573);
    background-color: red;
    box-shadow:0 0 20px red ;
}
.cv
{
    display: inline-block;
    padding: 13px 23px;
    background-color: red;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 0 0 10px red;
}
.aboutme
{
    padding: 40px;
    border-radius: 15px;
    text-align: center;
}
.aboutme h2
{
    padding: 20px;
    font-size: 35px;
}
.aboutme h2 span
{
    color: red;
    font-weight:600 ;
}
.aboutme h3
{
    position: relative;
    font-size: 35px;
    padding-bottom: 20px;
    font-weight:700;
}
.projects
{
    padding: 40px 20px;
    border-radius: 15px;
}
.lp
{
    padding: 40px 0;
    text-align: center;
    font-size: 40px;
    
}
.lp span
{
    color: red;
    font-weight: 700;
}
.projects img
{
    padding: 5px;
    width: 200px;
    height: 200px;
    margin: 20px;
    flex-wrap: wrap;
    border-radius: 20px;
    background: transparent;
    box-shadow: 0 0 20px blue;
    translate: 1s;
}
.projects img:hover
{
    box-shadow: 0 0 20px red;
    width:300px;
    height:300px;
}
.contacts
{
    padding: 30px;
}
.contacts h2
{
    padding: 30px;
    position: relative;
    font-size: 35px;
    font-weight: 600;
    text-align: left;
}
.contacts h2 span
{
    color: red;
}
.contacts form
{
    width: 70%;
}
form input,form textarea
{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;


}
.cv form
{
   padding: 30px;
}
html
{
    scroll-behavior: smooth;
}